<!DOCTYPE html>
<html>
  <head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to left, #D3CCE3, #E9E4F0);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" >Friends</a>
           </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Sign out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for friends!" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <title>Acebook!</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=El Messiri' rel='stylesheet'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>
    .title-font{
        font-family: 'Sofia';
        font-size: 30px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .text-area-styling{
      width: 30%;
      font-family: 'El Messiri';
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 2rem;
    }

    .post-table{

      width: 30%;
      font-family: 'El Messiri';
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 1.5rem;

    }

    body {
    background: linear-gradient(to right, #DAE2F8, #D6A4A4);
    }
    </style>


  </head>


  <body>
    <div class="title-font">
        <h1 style="font-size: 50px; color: cornsilk;">&#129412; Acebook &#x2728;</h1>
    </div>

     <div class="title-font">
     #foreach( $user_name in $userName )
          <h3 style="font-size: 30px; color: cornsilk;">Hello, $user_name.user_name </h3>
            #end
        </div>

    <div class="container text-area-styling">
      <form action="/dashboard" method="post" class="form-group d-flex flex-column align-items-center">
          <label for="exampleFormControlTextarea1" style="color:cornsilk">Any thoughts today? :</label>
           <textarea class="form-control" id="exampleFormControlTextarea1" name= "send_post" rows="3" style="font-size:20px;"></textarea>
          <button type="submit" class="btn btn-primary" style="width: 100px; font-size:18px;">Send</button>
      </form>
    </div>

    <div class="container post-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="font-size:20px; color:cornsilk">Previous post</th>
          </tr>
        </thead>

        <tbody>
          #foreach( $post in $posts )
          <tr>
            <th scope="row">
            $post.content
            <br>
            Posted on: $post.time
            <br>
            <span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt1" data-icon_d="sml3-u" data-icon_l_c="#000000" data-icon_l_c_v="#ee1a44" data-icon_d_c_v="#1089c0" data-label_c_v="#ee1a44" data-counter_l_c="#eb1298" data-counter_d_c="#1089c0" data-bg_c="rgba(250,250,250,0)" data-bg_c_v="rgba(250,250,250,0)" data-brdr_c="rgba(250,250,250,0)" data-f_family="Georgia" data-identifier="item_1"></span>
            <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
            </th>
          </tr>
           #end
        </tbody>
      </table>
    </div>

  </body>

</html>