<!DOCTYPE html>
<html>
  <head>
    <title>Acebook!</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>
  <body>
    <h1>Welcome to acebook</h1>
    <ul>
    #foreach ( $t in $posts )
   <li> $t.title $t.content </li>
#end

    </ul>
  </body>
</html>