<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
</h1>sign up for Acebook</h1>
<p>Please fill in your details to register</p>

        <form>
        First Name: <input type="text" name="first_name"/>
        <br>
        Last Name: <input type="text" name="last_name"/>
        <br>
        Email address: <input type="text" name="email"/>
        <br>
        Password: <input type="text" name="Password"/>
        </form>
    </body>
</html>