<html>
    <head>
    </head>
    <body>
        <form>
        Email: <input type="text" name="email"/>
        First Name: <input type="text" name="first_name"/>
        Last Name: <input type="text" name="last_name"/>
        Password: <input type="text" name="password"/>
        </form>
    </body>
</html>