<!DOCTYPE html>
<html>
  <head>
    <title>Acebook-Log-in!</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>
  <body>
    <h1>Welcome to acebook</h1>

    <div>
        <form action="/userlogin" method ="POST">

         <label>Email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>Password:</label><br>
         <input type="text"  name="password" placeholder="password"><br><br>
         <input type="submit" value="Log in!">
        </form>
        </div>

  </body>
</html>