<!DOCTYPE html>
<html>
  <head>
    <title>Acebook-Sign-up!</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  </head>
  <body>
    <h1>Welcome to acebook</h1>

    <div>
        <form action="/usersignup" method ="POST">

          <label> First name:</label><br>
          <input type="text"  name="first_name" placeholder ="First name"><br>
          <label>Last name:</label><br>
         <input type="text"  name="last_name" placeholder="Last name"><br><br>
         <label>Email:</label><br>
         <input type="text"  name="email" placeholder="email"><br><br>
         <label>Password:</label><br>
         <input type="text"  name="password" placeholder="password"><br><br>
         <input type="submit" value="Sign up!">
        </form>
        </div>

  </body>
</html>